{% extends '@nucleus/partials/particle.html.twig' %}
{% block particle %}
<div class="uk-container">
    {% if particle.title %}
        <div class="g-grid">
            <div class="g-block size-100 {{ particle.title_css }}">
                <{{ particle.titlehx|raw }} class="g-title">{{ particle.title|raw }}</{{ particle.titlehx|raw }}>
            </div>
        </div>
    {% endif %}

    {% set largestyle = 'nostyle' %}

    {% if particle.largestyle  %}
        {% set largestyle = 'uk-list-large' %}
    {% endif %}

    <div class="{{ particle.divlistclass|e}}">
        <{{particle.listtype|e}} class="uk-list {{particle.liststyle|e}} {{largestyle|e}} {{particle.listclass}}"> <!-- <ul> -->

          {% if particle.enabledlinks = 1 %}
            {% for item in particle.items %}
                    <li><a href="{{item.link|e}}" target="{{ item.target|e }}" class="{{ item.linktype|e }} {{ item.aclass|e }}">{{item.text|raw}}</a></li>
            {% endfor %}
          {% else %}
              {% for item in particle.items %}
                      <li class="{{ item.aclass|e }}">{{item.text|raw}}</li>
              {% endfor %}
          {% endif %}


        </{{particle.listtype|e}}> <!-- </ul> -->
    </div>
</div>
{% endblock %}
